<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1>New Event</h1>
    </div>
    <div class="card-body">
      <%= render 'form', event: @event %>
      <%= link_to 'Back to Events', events_path, class: 'btn btn-secondary mt-3' %>
    </div>
  </div>
</div>
